<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ChineseZadic.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2F5F9CB21F47E14700B40A4C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2F5F9CC61F47E14800B40A4C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2F5F9CD11F47E14800B40A4C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
